:root {
    --couleur-primaire : #07357d;
}
p {
  background: linear-gradient(blue, indigo, violet) font-size: 60;
}
h1 {
 color: blue;
}
body { 
 font-family :doctor glitch,fantasy;
}
body {
background color: black;
}
h1 {
 font-weight: 100;
}