:root {
    --couleur-white : #07357d;
}
p {
  background: linear-gradient(blue, indigo, violet);
}
h1 {
 color: black;

}
body { 
 font-family :doctor glitch,fantasy;
}
body {
background color: black;
}